<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/book.css" rel="stylesheet" type="text/css" media="all">
    <link media="only screen and (max-device-width: 480px)" href="{{ ASSET_PATH }}/css/book_iphone.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class='top'>
      <div id='top_hp12c'>
        <a class="avatar" href="{{ HOME_PATH }}">
          <img src="http://gravatar.com/avatar/97aa01a6f87da85251be77792dec1d9c?s=80" height="35" width="35" class="avatar" />
        </a>
        <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
      </div>
    </div>
    <header>
      <div class="title"><a href="{{ site.url }}/books/">M'ELBORNE BOOKS</a></div>
    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <ul id='footer_list'>
        <li><a href="{{ site.url }}/books/">HOME</a></li>
        <li><a href="{{ site.url }}/books/about_books.html">M'ELBORNE BOOKSについて</a></li>
        <li><a href="{{ site.url }}/" id='hp12c'>hp12c</a></li>
      </ul>
    </footer>

    {% include JB/analytics %}

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-288751-18']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script src="{{ site.url }}/assets/javascripts/jquery-1.7.2.min.js"></script>
    <script src="{{ site.url }}/assets/javascripts/lightbox.js"></script>
    <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  </body>
</html>
