<!--<div class="page-header">-->
  <!--<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>-->
<!--</div>-->

<div class="row">
  <div class="span12">
    <div class="ad" id="topAdsense">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-8790567277062819";
      /* hp12c */
      google_ad_slot = "7055414638";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>

    {{ content }}

  </div>
</div>

