/* Overrid2 some defaults */
html {
  background-color: #ffffff;
}
body {
  background-color: #444444;
  font-size: 18px;
}
.top {
  height: 30px;
}
.top #top_hp12c {
  float: right;
  margin: 8px 40px 0 0;
}
.top #top_hp12c .avatar {
  float: left;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  opacity: .9;
}
.top #top_hp12c .avatar:hover {
  opacity: 1;
}
.top #top_hp12c .brand {
  float: left;
  margin: 9px 0 0 8px;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: normal;
  color: #ddd;
}
.top #top_hp12c .brand:hover {
  color: #eee;
  text-decoration: none;
}
.container {
  background-color: #444444;
}
header {
  background-color: #ffffff;
  height: 100px;
}
header .title {
  margin: 20px 0 0 0px;
  padding: 42px 0 0 40px;
}
header .title a {
  font-size: 26px;
  color: #444444;
  text-shadow: rgba(25, 25, 25, 0.5) 1px 1px 3px;
}
header .title a:hover {
  color: #767676;
  text-decoration: none;
}
footer {
  clear: both;
  background-color: #ffffff;
  height: 100px;
}
footer ul {
  margin-left: 20px;
  padding-top: 35px;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 25px;
}
footer ul li a {
  font-size: 16px;
  color: #444444;
}
.content {
  margin-top: 5px;
}
.books {
  padding-left: 20px;
  margin: 20px 0;
}
.books .book {
  float: left;
  margin: 10px 10px 30px 20px;
}
.books .book .cover p.price {
  width: 60px;
  text-align: center;
  font-size: 12px;
  background-color: #888;
  color: #ddd;
  padding-top: 1px;
  margin-left: 70px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.9);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.9);
}
.books .book .cover img {
  float: left;
  width: 200px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}
.books .book .buyButton {
  clear: both;
  padding-top: 15px;
  /*margin: 0px 0 10px 38px;*/
}
.books .book .buyButton a {
  width: 95px;
  margin-left: 35px;
}
.about_books {
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  margin: 40px 45px;
}
.about_books .block {
  margin-bottom: 30px;
}
.about_books h3 {
  margin-top: 10px;
  color: #bbb;
}
.about_books .desc {
  margin-top: 5px;
  margin-left: 20px;
}
.about_books .desc p {
  color: #fff;
  font-size: 14px;
  line-height: 1.8em;
}
.bookInfo {
  margin: 20px 20px;
}
.bookInfo .bookMain {
  float: left;
}
.bookInfo .bookMain .bookImage {
  width: 250px;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}
.bookInfo .bookMain .buyButton {
  clear: both;
  padding-top: 10px;
}
.bookInfo .bookMain .buyButton a {
  width: 95px;
  margin-left: 60px;
}
.bookInfo .bookDesc {
  float: left;
  margin-left: 0px;
  width: 350px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bookInfo .bookDesc ul {
  list-style-type: none;
}
.bookInfo .bookDesc li {
  color: #fff;
  font-size: 14px;
  line-height: 1.8em;
}
.bookInfo .bookDesc li span {
  /*color: #78DBE2;*/
  /*color: #9ACEEB;*/
  /*color: #80DAEB;*/
  color: #bbb;
}
