/* Override some defaults */
html, body {
  background-color: #eee;
  font-size: 38px;
}
.span4 {
  display: none;
}
.span8 {
  width: 920px;
  padding-left: 20px;
}
h1 {
  font-size: 46px;
  border-bottom: none;
  color: #005;
}
h2 {
  font-size:40px;
  color: #611;
  border-bottom-style: inset;
  margin-top: 30px;
  margin-bottom: 15px;
}
h3 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.navbar {
  margin-bottom: 0;
  margin-left:auto;
  margin-right:auto;
}
.navbar-inner {
  background: #263347;
  margin-top: 5px;
  padding-top: 15px;
}
.navbar .avatar {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #999;
  opacity: 1;
}
.navbar .avatar:hover {
  opacity: .9;
}
.navbar .brand {
  margin-left: 0px;
  padding-top: 20px;
  font-size: 48px;
  font-family: Helvetica;
}
.navbar .nav {
  float: right;
  padding-top: 40px;
  font-size: 28px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: #263347;
}
a:hover.brand {
  color: #ddd;
}
.container {
  background: #263347;
  height: 90px;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #fff;
  margin-top: 0px;
  /*padding: 20px 20px 10px;*/
  /*margin: -20px -20px 20px;*/
}
.page-header .date {
  color: #bbb;
  font-size: 26px;
  margin-bottom: 14px;
}

.topbar .btn {
  border: 0;
}


p, blockquote p {
  font-size: 36px;
  line-height: 180%;
  margin: 25px 0;
}

pre {
  font-size: 34px;
  line-height: 150%;
  background-color: #f8f8ff;
}

code {
  font-size: 33px;
  line-height: 150%;
}

.content .row .span8 ol li {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 150%;
}

.footnotes {
  border-top: 1px solid;
  padding-top: 10px;
}

.footnotes li {
  font-size: 12px;
}
/* archives */
h2.year {
  color: #aaa;
  font-family: Times;
  font-size: 34px;
}
li.posts, li.pages {
  list-style-type: none;
  line-height: 60px;
  border-bottom: #999 1px dotted;
}
li.posts span, li.pages span{
  font-family: Times;
  color: #aaa;
  text-transform: uppercase;
  padding-right: 20px;
}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
.content .row p img {
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 4px 4px 3px rgba(0,0,128,.5);
     -moz-box-shadow: 4px 4px 3px rgba(0,0,128,.5);
          box-shadow: 4px 4px 3px rgba(0,0,128,.5);
}

