/* Override some defaults */
.rounded-corners (@tl: 6px, @tr: 6px, @bl: 6px, @br: 6px) {
  border-radius: @tl @tr @bl @br;
  -webkit-border-radius: @tl @tr @bl @br;
  -moz-border-radius: @tl @tr @bl @br;
}
.shadow (@hor: 0, @ver: 1px, @bdis: 2px, @color: rgba(0,0,0,.15)) {
  -webkit-box-shadow: @hor @ver @bdis @color;
     -moz-box-shadow: @hor @ver @bdis @color;
          box-shadow: @hor @ver @bdis @color;
}

html, body {
  background-color: #eee;
  font-size: 18px;
}
h1 {
  font-size: 26px;
  border-bottom: none;
  color: #005;
}
h2 {
  font-size:20px;
  color: #611;
  border-bottom-style: inset;
}
h3 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.navbar {
  margin-bottom: 0;
  width:980px;
  margin-left:auto;
  margin-right:auto;
  .navbar-inner {
    background: #263347;
    margin-top: 5px;
    padding-top: 15px;
    .avatar {
      float: left;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-box-shadow: 0px 0px 10px #999;
      opacity: 1;
      &:hover {
        opacity: .9;
      }
    }
    .brand {
      margin-left: 0px;
      padding-top: 20px;
      font-size: 38px;
      font-family: Helvetica;
      &:hover {
        color: #ddd;
      }
    }
    .nav {
      float: right;
      padding-top: 40px;
      font-size: 18px;
      .active > a, .active > a:hover {
        background: #263347;
      }
      a#rss>img {
        margin: 4px 5px 0 5px;
      }
    }
    .site {
      float: right;
      width: 35px;
      margin-top: 5px;

      a#github>img, a#twitter>img {
        margin-bottom: 7px;
        opacity: 0.8;
      }
      #github>img:hover, #twitter>img:hover, #rss>img:hover {
        opacity: 1;
      }
    }
  }
}
.container {
  background: #263347;
  height: 90px;
  footer {
    margin-top: 20px;
    p {
      text-align: center; /* center align it with the container */
    }
  }
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  .rounded-corners(0, 0, 6px, 6px);
  .shadow;
}

/* Page header tweaks */
.page-header {
  background-color: #fff;
  margin-top: 0px;
  border: 0;
  .date {
    color: #bbb;
    font-size: 16px;
    margin-bottom: 14px;
  }
  h1.page-title {
    a {
      color: #005;
      &:hover {
        text-decoration: none
      }
    }
  }
}

/*.topbar .btn {
  border: 0;
}
*/
p, blockquote p {
  font-size: 16px;
  line-height: 190%;
  margin: 15px 0;
}

pre {
  font-size: 14px;
  line-height: 150%;
  background-color: #f8f8ff;
}

code {
  font-size: 14px;
  line-height: 150%;
}

.footnotes {
  border-top: 1px solid;
  padding-top: 10px;
  li {
    font-size: 12px;
  }
}

.content .row {
  .span8 ol li {
    font-size: 16px;
    /*font-weight: bold;*/
    line-height: 170%;
    margin-bottom: 10px;
  }
  .span4 {
    margin-left: 20px;
  }
  p {
     img {
      .rounded-corners(6px, 6px, 6px, 6px);
      .shadow(4px, 4px, 3px, rgba(0,0,128,.5));
    }
    img[alt$='noshadow'] {
      .rounded-corners(6px, 6px, 6px, 6px);
      .shadow(0, 0, 0, rgba(0,0,128,.5));
    }
    img.http-bookmark {
      .rounded-corners(0px, 0px, 0px, 0px);
      .shadow(0, 0, 0, rgba(0,0,128,.5));
    }
  }
}

/* archives */
h2.year {
  color: #aaa;
  font-family: Times;
  font-size: 24px;
}
li.posts, ul.pages>li {
  list-style-type: none;
  line-height: 40px;
  border-bottom: #999 1px dotted;
}
li.posts span, li.pages span{
  font-family: Times;
  color: #aaa;
  text-transform: uppercase;
  padding-right: 20px;
}

/* tag_box ======================================================== */
.tag_box {
	list-style:none;
	margin:0 5px;
	padding:5px 0 ;
	overflow:hidden;
  li {
  	line-height:28px;
  }
  a {
  	padding: 3px 6px;
  	margin: 2px;
  	background: #eee;
  	color:#005F6B;
    .rounded-corners(3px, 3px, 3px, 3px);
  	text-decoration:none;
    span {
    	vertical-align:super;
    	font-size:0.8em;
    }
  }
  a.active {
  	background:#57A957;
  	border:1px solid #4C964D;
  	color:#FFF;
  }
}
.tag_box.inline li {
	float:left;
}

/* social_button ======================================================== */

.social_button {
	list-style:none;
	margin:0 5px;
	padding:5px 0 ;
	overflow:hidden;
  li {
  	line-height:28px;
  }
  li#twitter{
    width: 110px;
  }
  li#google{
    width: 60px;
  }
  li#facebook{
    margin-top: -3px;
  }
}

.social_button.inline li {
	float:left;
  margin-right: 10px;
}
