/* Override some defaults */
html,
body {
  background-color: #eee;
  font-size: 38px;
}
h1 {
  font-size: 46px;
  border-bottom: none;
  color: #005;
}
h2 {
  font-size: 40px;
  color: #611;
  border-bottom-style: inset;
}
h3 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 15px;
}
p,
blockquote p {
  font-size: 36px;
  line-height: 190%;
  margin: 15px 0;
}
pre {
  font-size: 34px;
  line-height: 150%;
  background-color: #f8f8ff;
}
/* background for gist*/
td.line-data {
  background-color: #f8f8ff;
}
.gist {
  font-size: 34px;
}
code {
  font-size: 34px;
  line-height: 150%;
}
.navbar {
  background: #263347;
  margin-bottom: 0;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.navbar .navbar-inner {
  background: #263347;
  margin-top: 5px;
  padding-top: 15px;
}
.navbar .navbar-inner .avatar {
  float: left;
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 0px 10px #999999;
  -moz-box-shadow: 0px 0px 10px #999999;
  box-shadow: 0px 0px 10px #999999;
  opacity: 1;
}
.navbar .navbar-inner .avatar:hover {
  opacity: .9;
}
.navbar .navbar-inner .brand {
  margin-left: 0px;
  padding-top: 20px;
  font-size: 48px;
  font-family: Helvetica;
}
.navbar .navbar-inner .brand:hover {
  color: #ddd;
}
.navbar .navbar-inner .nav {
  float: right;
  margin-right: -10px;
  padding-top: 40px;
  font-size: 28px;
}
.navbar .navbar-inner .nav li {
  height: 40px;
}
.navbar .navbar-inner .nav .active > a,
.navbar .navbar-inner .nav .active > a:hover {
  background: #263347;
}
.navbar .navbar-inner .site a#twitter {
  margin-top: -7px;
}
.navbar .navbar-inner .site a#github {
  margin-top: -2px;
}
.navbar .navbar-inner .site a#github > img,
.navbar .navbar-inner .site a#twitter > img {
  opacity: 0.8;
}
.navbar .navbar-inner .site #github > img:hover,
.navbar .navbar-inner .site #twitter > img:hover {
  opacity: 1;
}
.navbar .navbar-inner div#rss {
  float: right;
  width: 25px;
  margin: -10px -15px 0 0;
}
.navbar .navbar-inner div#rss a#rss > img:hover {
  opacity: 0.7;
}
.container {
  /*background: #263347;*/

  height: 90px;
}
.container footer {
  margin-top: 20px;
}
.container footer p {
  text-align: center;
  /* center align it with the container */

}
/* Adsense tags */
#topAdsense {
  background-color: #fff;
  height: 90px;
  margin: 0 -15px;
}
#sideAdsense {
  background-color: #fff;
  margin: 10px 0 0 10px;
}
#bookAd img {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#bookAd p#comment {
  /*margin-left: auto;*/

  /*margin-right: auto;*/

  text-align: center;
  color: #d44;
}
/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */

  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
/* Page header tweaks */
.page-header {
  background-color: #fff;
  margin-top: 0px;
  border: 0;
}
.page-header .date {
  color: #AAA;
  font-size: 26px;
  margin-bottom: 14px;
}
.page-header h1.page-title a {
  line-height: 120%;
  color: #005;
}
.page-header h1.page-title a:hover {
  text-decoration: none;
}
.page-header h1.page-title small {
  color: #AAA;
}
.footnotes {
  border-top: 1px solid;
  padding-top: 10px;
}
.footnotes li {
  font-size: 12px;
}
.content .row .span9 ol li {
  font-size: 36px;
  /*font-weight: bold;*/

  line-height: 170%;
  margin-bottom: 10px;
}
.content .row .span3 {
  margin-left: 20px;
}
.content .row p img {
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 128, 0.5);
  -moz-box-shadow: 4px 4px 3px rgba(0, 0, 128, 0.5);
  box-shadow: 4px 4px 3px rgba(0, 0, 128, 0.5);
}
.content .row p img[alt$='noshadow'] {
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
  box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
}
.content .row p img[alt$='noshadow_noround'] {
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
  box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
}
.content .row p img.http-bookmark {
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
  box-shadow: 0 0 0 rgba(0, 0, 128, 0.5);
}
/* archives */
h2.year {
  color: #aaa;
  font-family: Times;
  font-size: 24px;
}
li.posts,
ul.pages > li {
  list-style-type: none;
  line-height: 40px;
  border-bottom: #999 1px dotted;
}
li.posts span,
li.pages span {
  font-family: Times;
  color: #aaa;
  text-transform: uppercase;
  padding-right: 20px;
}
/* tag_box ======================================================== */
.tag_box {
  list-style: none;
  margin: 20px 5px;
  overflow: hidden;
}
.tag_box li {
  line-height: 28px;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #EB8033;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  text-decoration: none;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
.tag_box.inline li {
  float: left;
}
/* social_button ======================================================== */
.social_button {
  list-style: none;
  margin: 0 5px;
  padding: 5px 0 ;
  overflow: hidden;
}
.social_button li {
  line-height: 28px;
}
.social_button li#twitter {
  width: 110px;
}
.social_button li#google {
  width: 60px;
}
.social_button li#facebook {
  margin-top: -3px;
}
.social_button.inline li {
  float: left;
  margin-right: 10px;
}
.books .book {
  float: left;
  margin: 10px 20px 10px 5px;
}
.books .book .cover > img {
  width: 200px;
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 128, 0.5);
  -moz-box-shadow: 4px 4px 3px rgba(0, 0, 128, 0.5);
  box-shadow: 4px 4px 3px rgba(0, 0, 128, 0.5);
}
.books .book .buyButton {
  margin: 15px 0 0 0;
}
h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
p,
blockquote p {
  line-height: 180%;
  margin: 25px 0;
}
.page-header {
  width: 920px;
}
.content .row .span4 {
  display: none;
}
.content .row .span8 {
  width: 920px;
  padding-left: 20px;
}
.content .row .span8 ol li {
  line-height: 180%;
  margin-bottom: 20px;
}
table {
  cellpadding: 1px;
  line-height: 1.5em;
  font-size: 28px;
}
/* archives */
h2.year {
  font-size: 34px;
}
li.posts,
li.pages {
  line-height: 60px;
}
